
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes moveImages {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    40% {
      transform: translateX(-20px); /* Move left */
    }
    60% {
      transform: translateX(20px); /* Move right */
    }
    80% {
      transform: translateY(20px); /* Move down */
    }
    100% {
      transform: translateY(-20px); /* Move up */
    }
  }

  @keyframes moveTopToBottom {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes moveBottomToTop {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  @keyframes moveRighttoLeft {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }

  .animate-slide-up {
    animation: slideUp 1.5s ease-out forwards;
  }

  .animate-move-images {
    animation: moveImages 5s ease-in-out forwards;
  }

  .animate-top-to-bottom {
    animation: moveTopToBottom 5s ease-in-out infinite;
  }

  .animate-bottom-to-top {
    animation: moveBottomToTop 5s ease-in-out infinite;
  }

  .animate-left-to-right {
    animation: moveLeftToRight 4s ease-in-out infinite;
  }
  .animate-right-to-left {
    animation: moveRighttoLeft 4s ease-in-out infinite;
  }




  /* border moving animations start here  */
  @keyframes borderColorChange {
    0% {
      border-color: #e5e7eb; /* Light gray */
    }
    25% {
      border-color: #3b82f6; /* Blue */
    }
    50% {
      border-color: #8b5cf6; /* Purple */
    }
    75% {
      border-color: #f43f5e; /* Pink */
    }
    100% {
      border-color: #e5e7eb; /* Back to light gray */
    }
  }
  
  .moving-border {
    animation: borderColorChange 4s linear infinite;
  }
  
  .button-content {
    border-radius: 1.75rem;
  }
  
  .dark .moving-border {
    animation: borderColorChangeDark 4s linear infinite;
  }
  
  .dark .button-content {
    background: #0f172a;
    color: white;
  }
  
  @keyframes borderColorChangeDark {
    0% {
      border-color: #1e293b; /* Dark slate */
    }
    25% {
      border-color: #1d4ed8; /* Darker blue */
    }
    50% {
      border-color: #6d28d9; /* Darker purple */
    }
    75% {
      border-color: #be123c; /* Darker pink */
    }
    100% {
      border-color: #1e293b; /* Back to dark slate */
    }
  }